.form-group label {
    color: #151822;
    font-weight: 500;
}

.form-control {
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
}

.form-control:focus,
.form-control:hover {
    box-shadow: none;
    border-color: #969cad;
}