.form-group label {
    color: #151822;
    font-weight: 500;
}

.form-control {
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
}

.form-control:focus,
.form-control:hover {
    box-shadow: none;
    border-color: #969cad;
}

.swal2-modal {
    border-radius: 0px;
    font-size: 14px;
}

.swal2-styled {
    border-radius: 3px !important;
}

.swal2-styled:focus {
    border: 0px;
    box-shadow: none;
}

.swal2-confirm {
    background: #4CAF50 !important;
}

.swal2-confirm:hover {
    background: #3b8c3f !important;
}

.swal2-cancel {
    background: #F44336 !important;
}

.swal2-cancel:hover {
    background: #d8362a !important;
}

.note-toolbar.panel-heading {
    background: #f7f7f7;
}

/* custom datpicker */
.datepicker {
    padding: 5px !important;
}

.today.day {
    background: #37A000 !important;
    color: #FFF !important;
    border-radius: 50%;
}

.active.day {
    background: rgb(0, 109, 160) !important;
    color: #FFF !important;
    border-radius: 50%;
}

.day {
    border-radius: 50% !important;
}

.day:hover {
    transition: 0.25s;
}

.table-condensed td,
.table-condensed th {
    padding: 5px;
    font-size: 14px;
}

.table-condensed th {
    font-size: 14px;
}

.datepicker table th,
.datepicker table td {
    padding: 6px;
}

.form-control::placeholder {
    color: #a9a9a9 !important;
    font-size: 12px;
}